*{
	margin:0;
	padding:0;
	background-color:gainsboro; 
}
html {
	margin:0;
	padding:0;
	min-width:100%;	
	height:100%
	
}	
body{
	margin:0;
	padding:0;
	min-width:100%;
	height:100%
	
}
/*wrapper*/
#wrapper{
	width:80%;
	height:100%;
	border:0;
	margin:0 auto;
	padding:0;
}




header{
	background-color:darkslategray;
	width:100%;
	height:20%;
	border:3px solid black;
	box-sizing:content-box;
}
.title{
	color:white;
	text-shadow: 3px 2px black;
	font-size:3.125em;
	margin-top:0.8em;
	margin-left:1em;
}

/*위까지 헤더부분*/
a:hover{
	color:black;
	text-decoration:none;
}
 a:visited{
	color:black;
	text-decoration:none;
} 
a:active{
	color:black;
	text-decoration:none;
}
a:link{
	color:black;
	text-decoration:none;
}

nav{
		
}
ul#navimenu{
	
	border:3px solid black;
	box-sizing:content-box;
	list-style:none;
	width:100%;
	height:4em;
	display:block;
 }
ul#navimenu li{
	float:left;
	text-align:center;
	width:5em;
	background-color:gainsboro;
	padding:20px;
	border: 2px solid white;
}

/*body*/
#body{
	height:54%;
}




#footer{
	background-color:darkslategray;
	width:100%;
	height:5em;
	clear:both;
	border:3px solid black;
	box-sizing:content-box;
	text-align:center;
	

}
#footer span{
	font-weight:bold;
	font-size:1em;
	color:white;
	margin:auto;
	text-shadow: 3px 2px black;
	height:5em;
	line-height:5em;
}